<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <title>Angular选择下拉列表</title>
</head>
<body>
<div data-ng-app="myApp" data-ng-controller="myCtrl">
    <select data-ng-init="selectName=names[0]" data-ng-model="selectName" data-ng-options="x for x in names"></select>
    <select data-ng-init="selectCar=cars['car02']" data-ng-model="selectCar" data-ng-options="y.brand for (x,y) in cars"></select>
</div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.names = ['Google','Taobao','Baidu','JingDong','Runoob'];
        $scope.cars = {
            car01 : {brand : "Ford", model : "Mustang", color : "red"},
            car02 : {brand : "Fiat", model : "500", color : "white"},
            car03 : {brand : "Volvo", model : "XC90", color : "black"}
        };
    });
</script>
</body>
</html>